<template name="Header">
    <header>
        <h1>BioFarm app</h1>
        <h1><a id="addTree" href="/NewTree">Add Tree</a></h1>
        <h1><a id="addTree" href="/trees">My Tree</a></h1>
        {{>loginButtons}}
    </header>

    <div class="mobilenav">

        <li><a href="#">BioFarm app</a></li>
        <li><a href="/NewTree">Add Tree</a></li>
        <li><a href="/trees">My Tree</a></li>
    </div>

    <a href="javascript:void(0)" class="icon">
        <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
        </div>
    </a>
</template>

