<template name="Info">
    <div class="billboard">
        <div class="infoText"> Welkom<br><br>

            Je bent ingelogd en klaar om jouw boom te verzorgen.<br>
            Om te beginnen moet je een boom toevoegen.<br>
            Onderaan de boom zie je een balk, daar zie je hoe gezond jouw boom is en wat zijn behoefte is.<br>
            Daarnaast zie je een aantal iconen. Hiermee kun je het water, licht en zuurstof regelen.<br>
            Maar pas op! De houthakkers willen alle bomen omkappen.<br>
            Het is jouw taak om je boom te redden en de houthakkers weg te jagen.<br>
            Heel veel succes!</div>
    </div>
</template>
