html {
    height: 100%;
}

body {
    background-color: #00A1E5;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#imageTree {
    background-color: #00A1E5;
}

.drop {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.6)));
    background: -moz-linear-gradient(top, rgba(13, 52, 58, 1) 0%, rgba(255, 255, 255, .6) 100%);
    width: 1px;
    height: 89px;
    position: absolute;
    bottom: 200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;

}

/* animate the drops*/
@-webkit-keyframes fall {
    to {
        margin-top: 900px;
    }
}

@-moz-keyframes fall {
    to {
        margin-top: 900px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media screen and (max-width: 480px) {
    img#imgTree {
        width: 100%;
    }

    .billboard {
        display: none;
    }

}

.close-info {
    background-color: #2ecc71;
    opacity: 0.85;
    text-align: center;
}
#info-button {
    width: 7%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*Waterdruppel in de GIVE WATER animatie */

.animate {
    -webkit-animation: raindropFall 2s;
    animation: raindropFall 2s;
}

@keyframes raindropFall {
    0% {
        top: 0px;
        width: 15px;
        height: 15px;
    }
    100% {
        top: 250px;
        width: 30px;
        height: 30px;
        opacity: 0;
    }
}

/*Vogel in de GIVE WATER animatie */

.animate1 {
    -webkit-animation: flybyFly 5s;
    animation: flybyFly 5s;
    animation-iteration-count: infinite;
}

span {
    color: white;
}

@keyframes flybyFly {
    0% {
        left: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 100%;
        opacity: 0;
    }
}

body {
    padding: 70px 0 32px;
}

a#addTree {
    margin: 10px;
    color: #086b24;
    padding-left: 20px;
}

body h4 {
    color: #fff;
    width: 141px;
}

body img#raindrop {
    width: 20px;
    margin-left: 100px;
    margin-top: 10px;
    height: 20px;
    Position: relative;
}

header {
    color: #fff;
    background: #2ecc71;
    padding: 20px;
    fixed: top left;
    width: 100%;
    height: 70px;
    z-index: 7;
}

header h1 {
    margin: 0;
    font-size: 1.6em;
    float: left;
}

header .login-buttons-dropdown-align- {
    float: right;
}

header .login-buttons-dropdown-align- a {
    color: #fff;
    text-decoration: none;
}

p {
    color: #333;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.billboard {
    background: #2ecc71;
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 60px;
    opacity: 0.85;
}

.billboard h2 {
    margin: 0;
    letter-spacing: 7px !important;
    font-weight: bold !important;
    font-size: 38px !important;

}

.mainText {
    font-size: 26px;
    padding: 200px 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: fixed;
    line-height: 45px;
    letter-spacing: 2px;
}

.main-layout {
    lost-center: 90%;
    margin-top: 20px;
}

.new-tree {
    margin-bottom: 20px;
}

.new-tree-container {
    position: relative;
    background: #2ecc71 !important;
    padding: 20px;
    width: 38%;
    margin-left: 22%;
    margin-top: 6%;
    margin-bottom: 20px;
}

.new-tree-container .fa-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.new-tree-container label {
    display: block;
    margin-bottom: 10px;
}

.new-tree-container textarea,
.new-tree-container input {
    width: 100%;
}

.btn,
button {
    display: inline-block;
    cursor: pointer;
    background: #2ecc71;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    border: solid 3px #2ecc71;
    border-radius: 2px;
    font-weight: 800;
}

.btn:hover,
button:hover {
    background: #1ab85d;
    border-color: #2ecc71;
}

.btn.btn-primary,
button.btn-primary {
    background: #2ecc71;
    border-color: #2ecc71;
    color: forestgreen;
}

.btn.btn-primary:hover,
button.btn-primary:hover {
    background: #2ecc71;
    border-color: #2ecc71;
}

.btn.btn-deny,
button.btn-deny {
    background: #f00;
    border: solid 3px #f00;
}

.btn.btn-deny:hover,
button.btn-deny:hover {
    background: #2ecc71;
    border-color: #2ecc71;
}

.btn.btn-text,
button.btn-text {
    color: forestgreen;
    background: transparent;
    border: solid 2px forestgreen;
}

.btn.btn-text:hover,
button.btn-text:hover {
    background: #008080;
    border-color: #008080;
}

.btn.btn-text-dark,
button.btn-text-dark {
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
}

.btn.btn-text-dark:hover,
button.btn-text-dark:hover {
    background: #fff;
    border-color: #fff;
}

.btn.btn-confirmation,
button.btn-confirmation {
    color: #000;
    background: #008000;
    border: solid 2px #008000;
}

.btn.btn-confirmation:hover,
button.btn-confirmation:hover {
    background: #006c00;
    border-color: #2ecc71;
}

.btn.btn-cancel,
button.btn-cancel {
    color: #fff;
    background: transparent;
    border: solid 2px #fff;
    opacity: 0.4;
}

.btn.btn-cancel:hover,
button.btn-cancel:hover {
    background: #f00;
    color: #fff;
    opacity: 1;
    border-color: #2ecc71;
}

input,
select,
textarea {
    color: forestgreen;
    background: #fff;
    border: solid 2px forestgreen;
    border-radius: 2px;
    font-weight: 800;
    width: 100%;
    padding: 6px 10px;
    margin-bottom: 10px;
}

input.static-input,
select.static-input,
textarea.static-input {
    border: none;
    background: transparent;
}

.list-group {
    list-style: none;
    padding: 0;
}

.panel-body .form-group {
    lost-column: 1/2;
}

.autoform-remove-item.btn {
    background: grey;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    height: 25px;
    width: 25px;
    text-align: center;
    display: block;
    padding: 0;
}

div.worlds div:nth-child(4) > .progress-bar {
    background-color: green;
}

div.worlds div:nth-child(6) > .progress-bar {
    background-color: yellow;
}

.autoform-add-item.btn {
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: forestgreen;
}

img#imgTree {
    height: 100%;
}

.autoform-remove-item-wrap {
    vertical-align: middle;
}

.tree {
    z-index: 1;
    width: 60%;
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin-left: -21%;
    margin-top: -13%;
}

.tree .btn-primary,
.tree .btn-deny {
    display: block;
}

.tree.in-menu {
    background: #008080;
    color: #fff;
}

.tree.in-menu h3 {
    border-bottom: rgba(255, 255, 255, 0.6) solid 3px;
}

.tree h3 {
    font-size: 3em;
    opacity: 0.3;
    border-bottom: rgba(0, 0, 0, 0.3) solid 3px;
    margin-top: 0;
    margin-bottom: 10px;
}

.tree button {
    margin-top: 20px;
}

.tree button .btn-primary {
    display: block;
}

.worlds {
    width: 57%;
    float: right;
    margin-top: -21%;
}

#procesWater {
    width: 46%;
    margin-top: -8%;
    margin-left: -12%;
}


/*Video van de home screen*/
#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

/*GEEFT DE VOGEL EEN POSITIE  */
#flyby {
    position: relative;
}

/*Infotext*/
.billboard .infoText {
    font-size: 18px;
    text-align: center;
    padding: 0px !important;

}

/*water */
.update {
    background: transparent !important;
    border-radius: 0px !important;
    border: 0 !important;
    width: 18%;
    margin-top: -74%;
    margin-left: -27%;
    float: left;
}

.updateSun {
    background: transparent !important;
    border-radius: 0px !important;
    border: 0 !important;
    width: 18%;
    margin-top: -53%;
    margin-left: -27%;
    float: left;
}

.updateo2 {
    background: transparent !important;
    border-radius: 0px !important;
    border: 0 !important;
    width: 18%;
    margin-top: -32%;
    margin-left: -27%;
    float: left;
}

#tree{
    margin-left: 18%;
}

@media screen and (max-width: 1024px) {

    .update{
        width: 31%;
        margin-top: -142%;
        margin-left: -27%;
    }

    .updateSun {
        width: 31%;
        margin-top: -110%;
        margin-left: -27%;
    }

    .updateo2 {
        width: 31%;
        margin-top: -81%;
        margin-left: -27%;
    }

    #info-button {
        width: 10%;
    }

    .worlds {
        margin-top: -30%;
    }

    .tree{
        margin-top: -33%;
    }

    #procesWater {
        margin-top: -15%;
    }
}


@media screen and (max-width: 768px) {

    .update{
        width: 31%;
        margin-top: -142%;
        margin-left: -0%;
    }

    .updateSun {
        width: 31%;
        margin-top: -100%;
        margin-left: -0%;
    }

    .updateo2 {
        width: 31%;
        margin-top: -61%;
        margin-left: -0%;
    }

    #info-button {
        width: 12%;
    }

    .worlds {
        margin-top: -42%;
    }

    .tree{
        margin-top: -33%;
    }

    #procesWater {
        margin-top: -15%;
    }

    #tree {
    margin-top: 39%;

    }
}


